$link-text-color: #4297a0;
$border-radius: 5;
$bg-color: #1B1B1B;
$button-bg: #2b3938;

@font-face {
    font-family: 'CustomFont';
    src: url('https://fonts.cdnfonts.com/css/segoe-ui-4') format('woff2'),
    url('https://fonts.cdnfonts.com/css/segoe-ui-4') format('woff');
}


body {
    background-color: #1B1B1B;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

strong{
    font-family: 'Noto Sans', sans-serif;
}

.breadcrumb{
    color: #000000;
    background-color: #E2A446;
    border-radius: 0;
    list-style: none;
    flex-direction: row;
}

.breadcrumb-element{
    display: inline;
}

a{
    color: black;
    text-decoration-line: none;
    &:hover{
        color: #000000;
        text-decoration-line: underline;
    }
}

#canvas-container {
}

#canvas-container canvas {
    border: 1px solid #e2a446;
}

ul{
    list-style-position: inside;
    padding-left: 0;
    text-indent: -23px; /* key property */
    margin-left: 20px; /* key property */
}

ol{
    margin-block: 0;
}

li{
    text-align: left;
}

hr{
    background-color: #e2a446;
}

img{
    vertical-align: top;
}

strong{
    color: #e2a446;
}


.jumbotron {
    background-color: red;
}

p{
    text-align: left;
    text-justify: newspaper;
}


.link{

    &:link {
        color: #E2A446;
    }

    &:visited {
        color: #8d6cff;
    }
    &:hover {
        color: orangered;
    }
}

.link-colorless {
    color: white;
    &:hover{
        color: white;
    }
}


.centre{
    margin: auto;
    width: 70%;
    /*border: 3px solid green;*/
}

.row-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    //border-color: white;
    //border-style: solid;
    //border-width: 1px;
}

.column-element-3rd{
    margin-left: 10px;
    margin-right: auto;
    flex-basis: 33%;
}


.source-code-link{
    float: right;
    margin-top: -35px;
    margin-right: 35px
}

.card_box{
    background-color: #2b3938;
    //border-color: #2b3938;
    //border-style: solid;
    border-radius: 15px;
    height: 200px;

    border-style: solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 2px;
    border-color: #e2a446;
}

.card-img {
    height: 100%;
    max-height:100%;
    max-width: 27%;
    float: left;
    margin-left: 0;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #1b1b1b;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}



.card-text{
    min-height: 100%;
    width:65%;
    float: left;
    background-color: rgba(244, 234, 230, 0);
    border-color: green;

    border-style: solid;  // changed from 'inherit'
    border-color: blue;  // You can remove this if you don't want a blue border
    border-width: 0;  // Set all border widths to 0...
    border-left-width: 5px;  // ...but make the right border 5px
    border-color: #1B1B1BFF;  // Set border color to orange
}

.textCentre{
    text-align: center;
}

.experience-bubble{
    border-style: solid;
    border-radius: 10px;
    border-color: #2b3938;
    border-width: 2px;
    padding: 10px;
}

/* common styles !!!YOU DON'T NEED THEM */
.container {
    width: 850px;
    margin: 70px auto 0px auto;
    text-align: center;

    .button-effect {
        padding: 30px 0px;


        h2 {
            margin-bottom: 40px;
        }

        a {
            margin-right: 17px;

            &:nth-child(1) {
                background-color: $button-bg;
            }
        }
    }
}

/* button styles !!!YOU NEED THEM
!!!ALSO YOU NEED TO ADD FONTWESOME */

.button {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;

    /* background-color: - add your own background-color */
    font: {
        family: 'Roboto', sans-serif;
        /* put your font-family */
        size: 18px;
    }

    padding: 20px 0px;
    width: 150px;
    border-radius: $border-radius;
    overflow: hidden;
}

/* effect-1 styles */
.button.arrow-effect {
    transition: all 0.2s linear 0s;
    background-color: $button-bg;

    &:before {
        content: "\f178";
        font-family: FontAwesome;
        font-size: 15px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
    }

    &:hover {
        text-indent: -20px;

        &:before {
            opacity: 1;
            text-indent: 0px;
        }
    }
}

/* vertical arrows */
.line-vertical {
    width: 2px; /* line-width */
    height: 75px; /* line length */
    margin: auto;
}

/* common arrow styles */
.line-vertical, .line-horizontal {
    position: relative;
    background: #2b3938;
}

/* common arrow styles */
.line-vertical, .line-horizontal {
    position: relative;
    background: #2b3938;
}
.arrow-up:after,
.arrow-down:before,
.arrow-left:after,
.arrow-right:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
}

/* vertical arrows */
.arrow-up:after,
.arrow-down:before {
    left: -4px;
}
.arrow-up:after {
    top: -15px;
    border-bottom: 15px solid #2b3938;
}

#unity-container{
    margin-top: 50px;
}

