
.column {
    display: inline;
}

.sessionBox {
    margin: 10px 0% 0% 10%;
}

.left {
    margin: 0px 10px 5px 0px;
    width: 50px;
}

#joinID {
    width: 120px
}

#indicator {
    margin: 0px 0px 0px 1px;
}

#disconnect {
    width: 100px;
    background-color: rgb(241, 106, 106);
    border-color: rgb(0, 0, 0);
}